<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/60342316-3ea7-426a-b63e-8e9390a0c1eb/resourceGroups/MagicVilla/providers/Microsoft.ApiManagement/service/MagicVillaAPIapi/apis/MagicVillaAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/60342316-3ea7-426a-b63e-8e9390a0c1eb/resourceGroups/MagicVilla/providers/Microsoft.Web/sites/magicvilla</ResourceId>
    <ResourceGroup>MagicVilla</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://magicvilla.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6b3facfd-1b5c-4471-8991-95c4ad05ae39</ProjectGuid>
    <PublishUrl>https://magicvilla.scm.azurewebsites.net/</PublishUrl>
    <UserName>$magicvilla</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>